$padding-Grid-xs: 2px;
$padding-Grid-s: 3px;
$padding-Grid-m: 4px;
$padding-Grid-l: 5px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xsmall" {
        @media (min-width: 1px) {
            @content;
        }
    }

    @else if $breakpoint == "small" {
        @media (min-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "medium" {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint == "large" {
        @media (min-width: 1200px) {
            @content;
        }
    }
}


.row {
    @extend %clearfix;

    & + & {
        margin-top: 3%;
    }
}

.content {
    max-width: 1200px;
    @extend .center;
}



%clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.center {
    margin-left: auto;
    margin-right: auto;
}

[class^="col-"] {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @include respond-to(xsmall) {
        padding-left: $padding-Grid-xs;
        padding-right: $padding-Grid-xs;
    }

    @include respond-to(small) {
        padding-left: $padding-Grid-s;
        padding-right: $padding-Grid-s;
    }

    @include respond-to(medium) {
        padding-left: $padding-Grid-m;
        padding-right: $padding-Grid-m;
    }

    @include respond-to(large) {
        padding-left: $padding-Grid-l;
        padding-right: $padding-Grid-l;
    }
}
    //----- Columns (Automatic)
@include respond-to(xsmall) {

    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

@include respond-to(small) {

    @for $i from 1 through 12 {
        .col-s-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

@include respond-to(medium) {

    @for $i from 1 through 12 {
        .col-m-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}

@include respond-to(large) {

    @for $i from 1 through 12 {
        .col-l-#{$i} {
            width: (100% / 12) * $i;
        }
    }
}
    


 